body,
html {
  overflow: hidden;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.blink {
  animation: blink 1s ease-in-out infinite;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}
